Django==5.1.4
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.3.1
django-environ==0.11.2
Flask==2.0.1
Flask-RESTx==1.0.0
Flask-SQLAlchemy==2.5.1
Flask-JWT-Extended==4.3.1
Flask-Migrate==4.0.5
paypalrestsdk==1.13.1
python-dotenv==1.0.0
requests==2.32.3
gunicorn==23.0.0
Pillow==10.2.0
PyJWT==2.10.1
sqlparse==0.5.2
colorama==0.4.6